parameters:
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#method Magento\\Framework\\Data\\Collection::walk\(\) expects callable\(\):#'
