<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- plugin -->
    <type name="Magento\Config\Model\Config\Structure\Element\Group">
        <plugin name="faonni_trackinglink" type="Faonni\TrackingLink\Plugin\Config\Model\Config\Structure\Element\Group"/>
    </type>
    <type name="Magento\Sales\Block\DataProviders\Email\Shipment\TrackingUrl">
        <plugin name="faonni_trackinglink" type="Faonni\TrackingLink\Plugin\Sales\Block\DataProviders\Email\Shipment\TrackingUrlPlugin"/>
    </type>
</config>